.contact {
  padding: 2em 7em;

  background: #fcfafa;
}

.contact__deal {
  display: inline-block;
  margin-bottom: 1em;
}

.contact__offer {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.contact__form {
  display: flex;
  align-items: center;
  margin-top: 2em;
  border-radius: 0.2em;
  overflow: hidden;
  width: 50%;
}
.contact__form label {
    display: flex;
    width: 100%;
}
.contact__form label input {
  display: inline-block;
  padding: 0.6em;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
  border: none;
  width: 100%;
  background: var(--white-primary);
  accent-color: var(--lime-primary);
}
.contact__form label input:active {
  border: var(--lime-primary) 1px solid;
  outline: var(--lime-primary) 1px solid;
}
.contact__form label input:focus {
  border: var(--lime-primary) 1px solid;
  outline: var(--lime-primary) 1px solid;
}

.contact__form button[type="submit"] {
  display: inline-block;
  background: var(--lime-primary);
  height: 100%;
  width: auto;
  padding: 1em;
  aspect-ratio: 1 1;
}
