footer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  column-gap: 10em;
  padding: 4em 1em;
}

.footer__left {
  width: 100%;
  text-align: center;
}

.footer__left p {
  color: var(--dark-light);
  font-size: 0.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 1em;
}

.footer__left .footer__left__copyright {
  margin-top: 5em;
  display: none;
  color: var(--dark-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__right {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.footer__right span.footer__right__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__right a {
  text-decoration: none;
  color: var(--dark-light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    padding: 4em 2em;
  }

  .footer__left {
    width: 50%;
    text-align: left;
  }

  .footer__left p {
    font-size: 0.8em;
  }

  .footer__left .footer__left__copyright {
    display: inline-flex;
  }

  .footer__right {
    width: 50%;
    margin-top: 0em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
