.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  gap: 5em;
  background-color: #fcfafa;
}

.partner__total {
  display: flex;
  flex-direction: column;
}

.partner__total span:nth-child(1) {
  font-size: 3.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.partner__logo {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.partner__logo div {
}

.partner__logo div svg {
  width: 100px;
  height: 100px;
}

@media (min-width: 768px) {
  .partner {
    flex-direction: row;
  }

  .partner__logo {
  }

  .partner__logo div svg {
    width: auto;
    height: auto;
  }
}

@media (min-width: 425px) {
  .partner__logo {
    flex-wrap: wrap;
  }
}
