.product {
  display: flex;
  padding: 3em 0;
  justify-content: flex-start;
  padding-right: 5em;
}

.product__coursel {
  display: flex;
  gap: 1rem;
  width: 90%;
}

.product__coursel__item {
  width: 15%;
  border-radius: 1em;
  overflow: hidden;
}

.product__coursel__item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 523px;
}

.product__coursel__item--active {
  width: 60%;
}

/* ================== */

.product__detail {
  width: 50%;
  /* width: fit-content; */
}

.product__detail__category {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.product__detail__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.product__detail__recommendation {
  margin-top: 1em;
}

.product__detail__recommendation__item {
  padding: 1em;
  background: #fcfafa;
}

.product__detail__recommendation__item--active {
  background: var(--lime-primary);
}

.product__detail__recommendation__item__title {
  font-weight: 700;
}

.product__detail__recommendation__item--active
  .product__detail__recommendation__item__desc {
  display: block;
  margin-top: 1em;
}

.product__detail__recommendation__item__desc {
  display: none;
}

/* ============================ */

.product__list {
  background: var(--dark-primary);
  padding: 2em 1em 4em;
}

.product__list__header {
  display: flex;
  color: var(--lime-primary);
  padding: 1em 8em;
}

.product__list__header__left {
  display: flex;
  flex-direction: column;
}

.product__list__header__button {
  background: var(--lime-primary);
  height: fit-content;
  margin: auto 0 1em auto;
  padding: 1em;
  border-radius: 0.8em;
}

.product__list__header span:nth-child(2) {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

.product__list__coursel {
  display: flex;
  gap: 1em;
}

.product__list__coursel__item {
  width: 300px;
  height: 400px;
  border-radius: 0.8em;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.product__list__coursel__item--active {
  width: 354px;
  height: 472px;
}
.product__list__coursel__item--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  /* linear gradient black to transparant from bottom to top */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.product__list__coursel__item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
}
.product__list__coursel__item--active .product__list__coursel__item__price {
  display: inline-flex;
}

.product__list__coursel__item__price {
  display: none;
  z-index: 2;
  position: relative;
  color: var(--dark-primary);
  width: fit-content;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5em;
  border-radius: 0.4em;
  margin: 0 1em;
  margin-top: auto;
}

.product__list__coursel__item--active .product__list__coursel__item__name {
  display: inline-flex;
}
.product__list__coursel__item__name {
  z-index: 2;
  display: none;
  position: relative;
  color: var(--white-primary);
  margin: 0.5em 0.5em 1em;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product__list__coursel__control {
  display: flex;
  justify-content: flex-end;
  margin: -1em 7em;
  gap: 1em;
}

.product__list__coursel__control button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lime-primary);
  padding: 1em;
  border-radius: 100%;
  cursor: pointer;
}
