@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("./styles//header.css");
@import url("./styles//landing.css");
@import url("./styles//about.css");

:root {
  --lime-primary: #e5f0b6;
  --dark-primary: #2f241f;
  --white-primary: #ffffff;
  --brown-primary: #817253;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-primary);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: var(--dark-primary);
}

button {
  background: transparent;
  outline: none;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
